.main-list {
    display: flex;
    color: black;
    justify-content: space-evenly;
    align-items: center;
    padding-block: 1rem;
    gap: 2rem;
    & li{
        padding: .6rem calc(.6rem * 1.618);
        color: white;
        cursor: pointer;
        user-select: none;
    }
    & li:hover{
        background-color: #15263D;
    }
}
.menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    background-color: hsla(215, 30%, 30%, 80%);
}

.list-items {
    padding-inline: 1rem;

}


.ueberschrift {
    display: grid;
    place-content: center;
    padding: 2px;
    /*color: black;*/
    color: white;
}


.verwalten {
    position: relative;
    &:focus-within{
        background-color: #15263D;
    }
}

.verwalten:focus-within .dropdown {
    display: block;
}
.verwalten:focus-within .fa-chevron-down{
    transition: all .5s;
    transform: rotateZ(180deg);
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.dropdown {
    width: 150%;
    display: none;
    top: 100%;
    left: 0;
    position: absolute;
    padding: 1rem calc(1rem * 1.618);
    background-color: #15263D;
    color: white;
    transform: translateX(calc(-12.5% - .6rem));
    & li:hover{
        background-color: hsl(215, 30%, 30%);
    }
}

.logo {
    display: flex;
}

.header-logo {
    width: 150px;
    aspect-ratio: 1;
}

ul {
    list-style: none;
}

.links{
    text-decoration: none;
    color: inherit;
}

.heading{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.02em;
    text-align: center;
}