.bearbeiten-modal{

    width: 60%;
    height: 70%;
    background-color: #B1C7DC;
    position: fixed;
    left: 23%;
    top: 17%;
    background-color: #0a169a;
    color: #15263D;
    background-color: white;
    overflow: hidden;
    overflow-x: hidden;
    color: var(--blau-dark-2);
    background-image: url(../resources/images/BG.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    cursor: url(../resources/images/newCourser.svg),auto;

}

.teilnehmer-bearbeiten-content{
  --transparent: .3;
  background-color: #B1C7DC55;
  border: 2px solid var(--blau-light-6);
  background-color: #fff5;
  background-image: linear-gradient(45deg, rgba(204, 156, 223, var(--transparent)) 0.3%,
            rgba(155, 219, 245, var(--transparent)) 20.4%,
            rgba(245, 183, 208, var(--transparent)) 40.2%,
            rgba(250, 186, 98, var(--transparent)) 62.9%,
            rgba(234, 238, 240, var(--transparent)) 81.9%,
            rgba(250, 245, 171, var(--transparent)) 99.2%);
  /*backdrop-filter: blur(5px);*/
  padding: .6rem calc(.6rem * 1.618);
    &> div:has(.activeTurnierDaten){
        margin-block: 1.618rem;
    }
    &> div{
      margin-block: 1rem;
    }
    
}

.bearbeiten-content{
    padding: 40px;
    display: grid;
    /*grid-template-columns:  repeat(6,10vw) ;*/
    grid-template-columns: minmax(0, 5vw) repeat(4, minmax(0, 10vw)), minmax(0,5vw);
    grid-template-rows: repeat(7,6vh);
    gap: 20px;
    
    
}

.ueberschrift-bearbeitenChanged{
  margin-right: 20px;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;

}


  .label1 {
    
    margin-right: 10px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .label2 {
   
    margin-right: 10px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  .label3 {
   
    margin-right: 10px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
  }

  .label4 {
  
    margin-right: 10px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 5;
  }

  .label5 {
   
    margin-right: 10px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 6;
  }

  .input-box1 {
    
    margin-right: 10px;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .input-box2 {
   
    margin-right: 10px;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  .input-box3 {
   
    margin-right: 10px;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
  }

  .input-box4 {
  
    margin-right: 10px;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 5;
    font-size: 20px;
  }

  .input-box5 {
   
    margin-right: 10px;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 6;
    font-size: 20px;
  }



  .btn-speichern{
    display: flex;
  align-items: center;
  justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 .3em black;
    color: black;
    padding-inline: 1.618rem;
    padding-block:1rem ;
    margin-right: 10px;
    margin-top: 20px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 7;
    &:hover{
        background-color: #ccc;
    }
    &:active{
        filter: invert(100%);
    }
  
  }

  .btn-abbrechen{
    display: flex;
  align-items: center;
  justify-content: center; 
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 .3em black;
    color: black;
    padding-inline: 1.618rem;
    padding-block:1rem ;
    margin-right: 10px;
    margin-top: 20px;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 7;
    text-align: center;
    &:hover{
        background-color: #ccc;
    }
    &:active{
        filter: invert(100%);
    }
  
  }
  





  
  
 