.teilnehmerListe{
    background-color: #15263D;
    color: black;
    & h2{
        padding-block: .5rem;
        color: white;
    }
    & td, & th{
        padding: .6rem calc(.6rem * 1.618);
        background-color: white;
    }
    & input{
        width: 50px;
        text-align: center;
    }
}

.teilnehmer-flex-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}