@font-face{
  font-family: "clarika";
  src: url(./resources/font/ClarikaGeometric-Regular.woff);
  font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family: "clarika";
  src: url(./resources/font/ClarikaGeometric-Italic.woff);
  font-style: italic;
  font-weight: normal;
}
@font-face{
  font-family: "clarika";
  src: url(./resources/font/ClarikaGeometric-Bold.woff);
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "clarika";
  src: url(./resources/font/ClarikaGeometric-BoldItalic.woff);
  font-style: italic;
  font-weight: bold;
}


:root {

  /* blau-töne: (von dunkel zu hell) */
  --blau-dark-1: #091723;
  --blau-dark-2: hsla(215, 49%, 16%, 100%);
  --blau-dark-3: #37506E;
  --blau-light-4: #71A2E7;
  --blau-light-5: #B1C7DC;
  --blau-light-6: #C2D5E4;

  /* weiß: */
  --white: #ffffff;

  /* rot: */
  --rot: #E63201;

  /* orange: */
  --orange: #F25F04;

  /* gelb: */
  --gelb: #FED250;

  --zit: rgb(17, 75, 111);

  --transformX: 0px;
  --transformY: 0px;
  --rotate: 0deg;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
}


body {
  
    background-color: #0a169a;
    color: #15263D;
    background-color: white;
    overflow: hidden;
    overflow-x: hidden;
    color: var(--blau-dark-2);
    background-image: url(./resources/images/sexyBG.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
}

section {
    width: 100%;
    max-width: 620px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 7rem;
    background-color: rgba(0,0,0,0.4);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}


.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}



.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.content{
  --transparent: .3;
  margin:1rem 3rem;
  min-height: calc(100vh - 20vh - 62px);
  /*von james*/
  border: 2px solid #15263D;
  border-radius: 20px;
  background-color: #B1C7DC55;
  border: 2px solid var(--blau-light-6);
  border-radius: 20px;
  background-color: #fff5;
  background-image: linear-gradient(45deg, rgba(204, 156, 223, var(--transparent)) 0.3%,
            rgba(155, 219, 245, var(--transparent)) 20.4%,
            rgba(245, 183, 208, var(--transparent)) 40.2%,
            rgba(250, 186, 98, var(--transparent)) 62.9%,
            rgba(234, 238, 240, var(--transparent)) 81.9%,
            rgba(250, 245, 171, var(--transparent)) 99.2%);
  /*backdrop-filter: blur(5px);*/
  padding: .6rem calc(.6rem * 1.618);
    &> div:has(.activeTurnierDaten){
        margin-block: 1.618rem;
    }
    &> div{
      margin-block: 3rem;
    }
    
}

.footer{
  margin-top: auto;
  
}

/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 87vh;
}

.submitScores{
  padding: 15px;
  background-color: cadetblue;
}



