.grid-container{
  padding: 40px;
    display: grid;
    grid-template-columns:  repeat(4,15vw) ;
    grid-template-rows: repeat(7,6vh);
    gap: 20px;
}

.teilnehmer-anlegen{
  margin-right: 20px;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
}

  .label-vorname {
    margin-right: 10px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .label-nachname {
    margin-right: 10px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  .label-email {
   
    margin-right: 10px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
  }

  .label-bereich {
  
    margin-right: 10px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;
  }

  .label-rolle {
   
    margin-right: 10px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 6;
  }

  .input-vorname {
    
    margin-right: 10px;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .input-nachname {
   
    margin-right: 10px;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  .input-email {
   
    margin-right: 10px;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
  }

  .input-bereich {
  
    margin-right: 10px;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 5;
    font-size: 20px;
  }

  .input-rolle {
   
    margin-right: 10px;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 6;
    font-size: 20px;
  }

  .btn-anlegen{
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 .3em black;
    color: black;
    padding-inline: 1.618rem;
    padding-block:1rem ;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 7;
    text-align: center;
    &:hover{
        background-color: #ccc;
    }
    &:active{
        filter: invert(100%);
    }
 
 
  
  }


