.teilnehmerListe-modal{/* Set your desired width and height */

  width: 60%;
  height: 70%;
  background-color: rgb(7, 59, 105);
  position: fixed;
  left: 23%;
  top: 17%;
  padding: 40px;
  overflow-y: auto; /* Add this line to enable vertical scrolling */
  max-height: 80vh; /* Add a maximum height to the container */

}

.teilnehmerListe-content{
  
  overflow: auto;
  width: 60%;
  height: 70%;
  background-color: rgb(7, 59, 105);
  position: fixed;
  left: 23%;
  top: 17%;
  overflow: auto; /* Enable overall modal scrolling */
  
}

.ueberschrift-bearbeiten{
  position: sticky;
  width: 100%;
  top: 0;
  background-color: rgb(7, 59, 105);
  padding-block: 1rem;
}
ul{
  margin: 1rem calc(1rem * 1.618);
}