.create-turnier{
    margin-top: 20px;
    padding: 0.5rem;
    background-color: rgb(180, 179, 228);
}

.bearbeiten-modal{/* Set your desired width and height */
    width: 60%;
    height: 70%;
    background-color: rgb(7, 59, 105);
    position: fixed;
    left: 23%;
    top: 17%;
}

.bearbeiten-content{
    padding: 40px;
    display: grid;
    grid-template-columns:  repeat(4,15vw) ;
    grid-template-rows: repeat(7,6vh);
    gap: 20px;
}


  .label1 {
    
    margin-right: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .label2 {
   
    margin-right: 10px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  .label3 {
   
    margin-right: 10px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
  }

  .label4 {
  
    margin-right: 10px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 5;
  }

  .label5 {
   
    margin-right: 10px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 6;
    grid-row-end: 6;
  }

  .input-box1 {
    
    margin-right: 10px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .input-box2 {
   
    margin-right: 10px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  .input-box3 {
   
    margin-right: 10px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
  }

  .input-box4 {
  
    margin-right: 10px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 5;
    font-size: 20px;
  }

  .input-box5 {
   
    margin-right: 10px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 6;
    font-size: 20px;
  }



  .btn-speichern{
    margin-right: 10px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 7;
    font-size: 20px;
    width: 200px;
    height: 60px;
    background-color: white;
  
  }

  .btn-abbrechen{
    margin-right: 10px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 7;
    font-size: 20px;
    width: 200px;
    height: 60px;
    background-color: white;
  
  }
  
  .ueberschrift-bearbeiten{
    margin-right: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  h2{
    padding-block: .5rem;
    color: white;
}

.label{
  padding-block: .5rem;
  color: white;
}

  
  
 