.activeTurnierDaten{
    display: flex;
    justify-content: space-evenly;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    background-color: #15263D;
    color: white;
    margin: 25px;
    padding: 30px;
}

.submitScore{
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 .3em black;
    color: black;
    padding-inline: 1.618rem;
    padding-block:1rem ;
    &:hover{
        background-color: #ccc;
    }
    &:active{
        filter: invert(100%);
    }
}

.gruppe-flex-container, .gruppenSpiele-flex-container{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}

.gruppe-inhalt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    background-color: #15263D;
    color: white;
    width: 300px;
    padding: .6rem calc(.6rem * 1.618);
    & table{
        color: black;
        background-color: white;
        width: 100%;
        & tr{
            border-top: 1px solid black;
        }
    }
}

.gruppeSpieleInhalt{
    background-color: #15263D;
    color: black;
    & h2{
        padding-block: .5rem;
        color: white;
    }
    & td, & th{
        padding: .6rem calc(.6rem * 1.618);
        background-color: white;
    }
    & input{
        width: 50px;
        text-align: center;
    }
}

.vorrunde-flex-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.vorrundeInhalt{

    background-color: #15263D;
    color: black;
    & h2{
        padding-block: .5rem;
        color: white;
    }
    & td, & th{
        padding: .6rem calc(.6rem * 1.618);
        background-color: white;
    }
    & input{
        width: 50px;
        text-align: center;
    }
}

.results-flex-container{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-block: 4rem;
    gap: 1rem;
}

.resultsInhalt{

    background-color: #15263D;
    color: black;
    & h2{
        padding-block: .5rem;
        color: white;
    }
    & td, & th{
        padding: .6rem calc(.6rem * 1.618);
        background-color: white;
    }
    & input{
        width: 50px;
        text-align: center;
    }
}

.start-screen{
    height: 100vh;
    position: absolute;
    inset: 0;
    background-color: gray;
    display: flex;
    transition: all 2s;
    isolation: isolate;
}
.left, .right{
    position: relative;
    width: 50%;
    background-image: url(./resources/images/photo-1495696414638-78ee23f25668.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.left{
    border-right: solid 3px black;
}
.right{
    border-left: solid 3px black;
}
.klask-logo{
    background-color: white;
    position: absolute;
    top: 50%;
    padding: 1rem 1.5rem;
    border-radius: 50%;
    border: 5px solid black;
}
.left .klask-logo{right: 0;
    transform: translateY(-50%)
               translateX(50%);
}
.right .klask-logo{
    left: 0;
    transform: translateY(-50%)
               translateX(-50%);
}

.move-right{
    transition: 1s all;
    transform: translateX(100%);
}
.move-left{
    transition: 1s all;
    transform: translateX(-100%);
}
